<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Manjari:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://kit.fontawesome.com/cfa5b23a00.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.2/ScrollToPlugin.min.js"></script>
    <title>Mariam Khalifa</title>
</head>

<body>
<div id="app">
    <h1 class="hidden">Mariam Khalifa</h1>
    <header id="main-header">
        <i class="fas fa-bars fa-2x"></i>
        <ul class="main-nav">
            <li><a class="link" id="link-about">About</a></li>    
            <li><a class="link" id="link-dev">Web Development</a></li>
            <li><a class="link" id="link-motion">Motion Design</a></li>  
            <li><a class="link" id="link-contact">Contact</a></li>
        </ul>
        <a href="index.php" class="link-home">
            <picture class="logo">
                <source media="(min-width: 767px)" srcset="images/logo.svg">
                <img src="images/logo-alt.svg" alt="logo">
            </picture>
        </a>
        <div class="welcome">
            <h1>Hello,</h1>
            <h2>I'm a front-end developer</h2>
            <h2>This is my portfolio.</h2>
        </div>
        <ul class="dots">
            <li class="dot">.</li>
            <li class="dot">.</li>
            <li class="dot">.</li>
        </ul>
        <i class="fas fa-chevron-down fa-2x"></i>
    </header>

    <main>
        <section id="about">
            <div class="about">
                <h2 class="main-heading">A little bit about me..</h2>
                <p class="about-text">
                    <span>Hi there!</span><br>
                    {{ about.text }}
                </p>
    
                <img class="about-img" :src="'images/' + about.img" alt="mariam pic">
            </div>
            <div class="skills-con">
                <div class="skills skills-m">
                    <h3 class="skill-title">Motion Design Skills</h3>
                    <ul class="ul-con">
                        <li v-for="skill in motionskills"><i class="fas fa-square"></i>{{ skill.name }}</li>
                    </ul>
                </div>
    
                <div class="skills skills-dev">
                    <h3 class="skill-title">Front-End Development Skills</h3>
                    <ul class="ul-con">
                        <li v-for="skill in devskills"><i class="fas fa-square"></i>{{ skill.name }}</li>
                    </ul>
                </div>
    
                <div class="skills skills-g">
                    <h3 class="skill-title">Graphic Design Skills</h3>
                    <ul class="ul-con">
                        <li v-for="skill in graphicskills"><i class="fas fa-square"></i>{{ skill.name }}</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    

    <!-- <div class="bottom">
        <i class="fas fa-chevron-up fa-3x"></i>
    </div> -->

    <footer id="footer">
        <img class="butterflies" src="images/butterflies.png" alt="butterfly">
        <h1 class="hidden">Main Footer</h1>
        <p>&copy; Mariam Khalifa 2020.</p>
        <div class="social-media">
            <a href="https://github.com/mariamkhalifa" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/mariamkhalifa/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://vimeo.com/mariamkhalifa" target="_blank"><i class="fab fa-vimeo fa-2x"></i></a>
        </div>
    </footer>
</div>

<script src="js/main.js" type="module"></script>
</body>
</html>